<h2 [innerHTML]='header_title'></h2>
<hr/>
<app-spinner [showSpinnerFromParent]='showSpinner'></app-spinner>
<table *ngIf='charecter_list && charecter_list.length'>
    <thead>
        <tr>
            <th (click)='showPoster()'>Poster</th>
            <th>Charecter Name</th>
            <th>Series Name</th>
            <th>IMDB Rank</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let list of charecter_list; let id = index'>
            <td><img *ngIf='showPosterBool' [src]='list.poster' width='70' (click)='showInHeader(list.name)'/></td>
            <td><a 
                [innerHTML]='list.name' 
                [name]='id' 
                [routerLink]='["/details", id]'
                [queryParams]='{posterQP : showPosterBool}'></a></td>
            <td [innerHTML]='list.series'></td>
            <td [innerHTML]='list.imdb | byTen:"/10" '></td>
            <td><button [routerLink]='["/details",id,"edit"]'>Edit</button></td>
        </tr>
    </tbody>
</table>
<div class='danger' [innerHTML]='no_records' *ngIf='!charecter_list || charecter_list.length === 0'></div>